/* importation typo */ 
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');


/*nom des fonts 

font-family: 'Varela Round', sans-serif;
font-family: 'Ubuntu', sans-serif;

chiffre: 
    font-family: 'Roboto', sans-serif;
*/



header{
    margin: 3% 15% 5% 20%;
    
}

body{
    
    margin:0;
    padding:0;
}

.container{
    max-width: 1100px;
    margin: 0 auto;
}


/* logo menu et button compris dans la flexbox */


header{ 
    display: flex;
    margin-bottom:8%}

/* Logo --------------------------*/

.button_Logo {
    
    background-color: red;
    border-radius: 180px;
    color: white;
    width: 25px;
    height: 25px;
    border: none;
    
}
.NameLogo{
    padding-left: 8px;
    display: inline;
 
}

/* Menu ------------------------*/


.Menu {
    
    margin-top: 2px;
    }

.Menu_puce{
    display: inline;
}
.Menu li {
    display: inline;
    padding-left: 8px;

}


/* boutton request a demo */ 


.request_button {
    
    padding-left: 100px;
    
}

.button_request{
    border-radius: 8px;
    background: none;
    color: red;
    border-color: rgb(70, 29, 29);
    border: 1px solid red;
    padding: 8px 3px;
}

/* Bloc text intro ---------------------*/


.BlocText{

   align-self: center;
   padding-right: 15px;
   margin: 0 auto;
    

}

/* flex l'image et le block */  
.Flex_Intro{
    display: flex;
    margin-bottom: 15%;
    
}

.BigText{
    
    font-size: 75px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
}

/* flex du boutton et phrase dans le bloc text */

.Flex_Button_Text{

    display: flex;
    align-self: flex-end
    ;
}


/* Changement de couleur petites lignes */

.LittleText {
    font-size: 13px;
    color: grey;
    opacity: 60%;
    font-family: 'Varela Round', sans-serif;
}

#snap {
    padding-top: 5px;
    padding-left: 15px;
}

#snip {

    margin-top: 8%;
    margin-bottom: 8%;
}


/* button INTRO */

.button_Big {
    background: rgba(240, 6, 26, 0.959);
    color: white;
    border-radius: 8px;
    padding: 18px;
    padding-left: 25px;
    font-size: 15px;
    border: none;
}



/* To delete */



.background{
    background: red;
    margin:0 ;
    height: 650px;
    
}

.zombie{
    display: absolute;
    padding-top: 30px;
    
}

/* Dessous du graphique Marques logo */


.marques{display: flex;} 

.Marque_Logo{

    width: 10%;
    margin: 0 auto;
    opacity: 30%;
}

.facebook{
    height: 60px;
    align-self: center;
}
.samsung {
    height: 50px;
    align-self: center;
}

.marques{
margin-bottom: 10%;

}
/* Deuxieme gros bloc texte */ 

.snop{
    font-size: 18px;
    
    width: 400px;
}

.button_tiny{
    border: none;
    background: white;
    color: red;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;

}

section h1 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 50px;
    text-align: center;
    margin-bottom: 6%;
}



.grid_box{
    display: flex;
    
}
.box_one{
    
    border: 1px solid ;
    border-color: rgba(173, 173, 173, 0.192);
    border-radius: 15px;
    padding-left: 30px;
}



.Bag{
    width: 30%;
    
}
.move_bag{
    margin: 30px 0 30px 0;
}

.starter{
    font-family: 'Ubuntu', sans-serif;
    font-size: 28px;
}

.emote{width: 7%;
}
.paragraph{
    margin: 25px 0 25px 0;
}


.prix{ font-family: 'Roboto', sans-serif;
font-size: 20px;
padding-bottom: 5px;}

.light{
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
    color: rgba(128, 128, 128, 0.411);
    
}
.Prix_light{
    font-size: 12px;
    color: rgba(128, 128, 128, 0.411);
    padding-bottom: 35px;}

.button_get{
    
    background: none;
    color: red;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid;
    border-color: red;
    border-radius: 8px;
    padding:10px 35px; 

}


.box_two{
    elevation: 15px;
    background: white;
    border: 1px solid ;
    border-color: rgba(173, 173, 173, 0.192);
    border-radius: 15px;
    padding-left: 30px;
    box-shadow: 2px 1px 1px 2px rgba(104, 102, 102, 0.151);
    
}

.button_get_two{
    
    background: red;
    color: white;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid;
    border-radius: 8px;
    padding:10px 35px; 

}

.Flex_three{margin-bottom: 20%;}

.background_two{
    background: red;
    height: 650px;
    margin-bottom: 8%;
    
}
/* ---------------------------------------------*/

.zombie_2{width: 95%;
    display: relative;
   
    
    
}

.text_back{
    z-index: -1;
    padding-top: 3% ;
    text-align: center;}

.text_in_background{
    font-family: 'Ubuntu', sans-serif;
    font-size: 40px;
    color: white;
}

.text_small_background{
    font-family: 'Varela Round', sans-serif;
    font-size: 20px;
    color: white;
}


.button_god{
    
    background: white;
    color: red;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid;
    border-radius: 8px;
    padding:10px 35px; 

}







/*footer */

.descend{
    margin-top: 4%;
}

.flex_footer{display:flex;
margin-right: 15px;}



.logo__{margin-right: 200px;}

.Link{margin-right: 100px;}

.Legal{margin-right: 100px;}

.footer_P{
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    padding-bottom: 30px;}

.footer_text{
    font-size: 15px;
    color: rgba(128, 128, 128, 0.377);
}


.input{border: 1px solid;
}

input{ border: none;}
